openapi: 3.2.0
info:
  title: Tap Payments Payouts API
  description: REST API for Tap Payments, a payment gateway and financial infrastructure provider for the Middle East and North Africa.
  version: '1.0'
  contact:
    name: Tap Payments Developers
    url: https://developers.tap.company
  x-modeled-note: Endpoint list and HTTP methods are grounded in Tap's public developer reference and OpenAPI index. Property-level schemas are modeled (representative), not copied verbatim from Tap.
servers:
- url: https://api.tap.company/v2
  description: Tap Payments production API (test vs live selected by API key)
security:
- bearerAuth: []
tags:
- name: Payouts
  description: Settlements paid out to the merchant.
paths:
  /payouts:
    get:
      operationId: listPayouts
      tags:
      - Payouts
      summary: List all payouts
      description: Lists settlements (payouts) deposited to the merchant's bank account.
      responses:
        '200':
          description: A list of payouts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payouts/{payout_id}:
    parameters:
    - name: payout_id
      in: path
      required: true
      description: The id of the payout.
      schema:
        type: string
    get:
      operationId: retrievePayout
      tags:
      - Payouts
      summary: Retrieve a payout
      description: Retrieves a payout (settlement) by id.
      responses:
        '200':
          description: The requested payout.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Secret API key passed as a Bearer token in the Authorization header: `Authorization: Bearer sk_test_...` (test) or `sk_live_...` (live). Keys are issued from the Tap dashboard. Never expose the secret key in client-side code.'
