openapi: 3.2.0
info:
  title: Tap Payments Charges API
  description: REST API for Tap Payments, a payment gateway and financial infrastructure provider for the Middle East and North Africa.
  version: '1.0'
  contact:
    name: Tap Payments Developers
    url: https://developers.tap.company
  x-modeled-note: Endpoint list and HTTP methods are grounded in Tap's public developer reference and OpenAPI index. Property-level schemas are modeled (representative), not copied verbatim from Tap.
servers:
- url: https://api.tap.company/v2
  description: Tap Payments production API (test vs live selected by API key)
security:
- bearerAuth: []
tags:
- name: Charges
  description: Charge a card or other payment source.
paths:
  /charges:
    post:
      operationId: createCharge
      tags:
      - Charges
      summary: Create a charge
      description: Initiates a charge to charge a card or other payment source. The source may be a token id, a saved card, an authorize id (to capture), or a local scheme / wallet. For 3D Secure, pass redirect.url to receive the customer back after authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeInput'
      responses:
        '200':
          description: The created charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listCharges
      tags:
      - Charges
      summary: List all charges
      description: Lists charges, filterable by date, status, method, customer, and charge id.
      responses:
        '200':
          description: A list of charges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /charges/{charge_id}:
    parameters:
    - $ref: '#/components/parameters/ChargeId'
    get:
      operationId: retrieveCharge
      tags:
      - Charges
      summary: Retrieve a charge
      description: Retrieves the details of a charge by its id.
      responses:
        '200':
          description: The requested charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCharge
      tags:
      - Charges
      summary: Update a charge
      description: Updates mutable fields on a charge, such as description, metadata, or notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
    CustomerInput:
      type: object
      properties:
        first_name:
          type: string
        middle_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: object
          properties:
            country_code:
              type: string
            number:
              type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ChargeInput:
      type: object
      required:
      - amount
      - currency
      - source
      properties:
        amount:
          type: number
        currency:
          type: string
        customer_initiated:
          type: boolean
        threeDSecure:
          type: boolean
        save_card:
          type: boolean
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
        reference:
          type: object
          additionalProperties: true
        receipt:
          type: object
          additionalProperties: true
        customer:
          $ref: '#/components/schemas/CustomerInput'
        source:
          $ref: '#/components/schemas/Source'
        redirect:
          $ref: '#/components/schemas/Redirect'
        post:
          $ref: '#/components/schemas/Redirect'
    Charge:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: charge
        status:
          type: string
          description: For example INITIATED, IN_PROGRESS, CAPTURED, AUTHORIZED, DECLINED, VOID.
        amount:
          type: number
        currency:
          type: string
        threeDSecure:
          type: boolean
        customer:
          $ref: '#/components/schemas/Customer'
        source:
          $ref: '#/components/schemas/Source'
        transaction:
          type: object
          additionalProperties: true
        reference:
          type: object
          additionalProperties: true
        response:
          type: object
          additionalProperties: true
    Source:
      type: object
      description: The payment source. Provide a token id, a saved card id, an authorize id (to capture), or a scheme identifier such as src_kw.knet, src_sa.mada, src_bh.benefit, src_card, src_apple_pay, or src_google_pay.
      properties:
        id:
          type: string
    ChargeList:
      type: object
      properties:
        charges:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
    Customer:
      allOf:
      - $ref: '#/components/schemas/CustomerInput'
      - type: object
        properties:
          id:
            type: string
          object:
            type: string
            example: customer
    Redirect:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL Tap redirects the customer to after 3D Secure authentication.
  parameters:
    ChargeId:
      name: charge_id
      in: path
      required: true
      description: The id of the charge (e.g. chg_XXXXXXXX).
      schema:
        type: string
  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Secret API key passed as a Bearer token in the Authorization header: `Authorization: Bearer sk_test_...` (test) or `sk_live_...` (live). Keys are issued from the Tap dashboard. Never expose the secret key in client-side code.'
