openapi: 3.2.0
info:
  title: Tap Payments Business API
  description: REST API for Tap Payments, a payment gateway and financial infrastructure provider for the Middle East and North Africa.
  version: '1.0'
  contact:
    name: Tap Payments Developers
    url: https://developers.tap.company
  x-modeled-note: Endpoint list and HTTP methods are grounded in Tap's public developer reference and OpenAPI index. Property-level schemas are modeled (representative), not copied verbatim from Tap.
servers:
- url: https://api.tap.company/v2
  description: Tap Payments production API (test vs live selected by API key)
security:
- bearerAuth: []
tags:
- name: Business
  description: Business, merchant, and destination onboarding.
paths:
  /businesses:
    post:
      operationId: createBusiness
      tags:
      - Business
      summary: Create a business
      description: Onboards a business entity for marketplace / platform settlement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created business.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listBusinesses
      tags:
      - Business
      summary: List all businesses
      description: Lists onboarded businesses.
      responses:
        '200':
          description: A list of businesses.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /destinations/{destination_id}:
    parameters:
    - name: destination_id
      in: path
      required: true
      description: The id of the settlement destination.
      schema:
        type: string
    get:
      operationId: retrieveDestination
      tags:
      - Business
      summary: Retrieve a destination
      description: Retrieves a settlement destination (bank account) that funds are paid out to.
      responses:
        '200':
          description: The requested destination.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Secret API key passed as a Bearer token in the Authorization header: `Authorization: Bearer sk_test_...` (test) or `sk_live_...` (live). Keys are issued from the Tap dashboard. Never expose the secret key in client-side code.'
